.auth-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/Header-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .auth-container .container {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .logo-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.logo {
    width: 85px;
    height: 76px;
}

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .auth-form .form-group {
    width: 100%;
  }

  .auth-form .form-group label {
    margin-bottom: 0.1rem;
  }
  
  .rounded-btn {
    border-radius: 50px;
    width: 50%;
    padding: 10px 0;
  }

  .forgot-password-link {
    display: block;
    text-align: right;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  
  @media (max-width: 576px) {
    .auth-container .container {
      padding: 1rem;
    }
  }
  