.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/Header-bg.svg');
    background-size: 100% 50vh;
    background-position: center;
  }
  
  .login-container .container {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 576px) {
    .login-container .container {
      padding: 1rem;
    }
  }
  